<% layout("boilerplate/boilerplate") %>
<body>
    <form action="/myvelentine/alldays" method="get">
        <div class="first-container">
            <span class="heart-animate heart-wrapper">❤️</span>
            <h1>My Valentine</h1>
            <p class="love-lines">
                In lives I don’t remember, <br>
                and times that forgot our names, <br>
                your heart still finds mine, <br>
                and my love still chooses you.
            </p>
            <hr class="center-line">
            <button class="start">get started</button>
        </div>
    </form>
</body>

